html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

.ListItemEven,
.ListItemOdd {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cell img.image {
  width: 100%;
}

.link-container {
  bottom: 10px;
  position: absolute;
  width: 100%;
}

.link-container div {
  /* background-color: cadetblue; */
  margin-right: 10px;
  float: right;
}

.link-container .view-token span {
  padding: 2px;
  border-radius: 4px;
}

.link-container .invert-token span {
  padding: 5px;
  border-radius: 4px;
}

.link-container .view-token svg {
  font-size: 26px;
}

.link-container .invert-token svg {
  font-size: 20px;
}

.link-container .link {
  text-decoration: none;
}

.link-container Button {
  line-height: 18px;
  font-size: 17px;
  padding: 6px;
}
