html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

.ListItemEven,
.ListItemOdd {
  align-items: center;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

.link-container {
  bottom: 20%;
  float: left;
  position: absolute;
  text-align: center;
  width: 50%;
}

.link-container.view-token {
  margin-left: 50%;
}

.link {
  text-decoration: none;
  display: none;
}

.cell:hover .link {
  display: block;
}
